@tailwind base;
@tailwind components;
@tailwind utilities;

.humic-red{
    color: #B22824;
    background-color: #B22824;
}

.humic-grey{
    color: #959499;
}

.humic-blue{
    color: #1677BD;
}

.table-auto {
    font-size: 0.875rem; 
}

.table-auto th,
.table-auto td {
    padding: 0.5rem; 
}